<div class="container" style="text-align:center;">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Welcome to the Pantry!</h1>
      <h2>Whoo! PAAAAARRRRTTTTAAAAY!</h2>
      <!-- <p>TODO: Create Landing page (advertising the product)</p> -->
    </div>
  </div>
</div>
