<h1>Your Meals</h1>

<% @current_user.meals.each do |meal| %>

  <div class="mealsIndex">
    <p><%= link_to meal.name, meal %></p>
    <%= button_to "Delete", meal, :method => 'delete'%>
  </div>

<% end %>
