
.navbar {

  list-style: none;

  max-width: 50vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addQuantitiesForm {
  display: none;
}

a.no-link {
  color: azure;
  opacity: 1;
  font-size: xx-large;
}

a.no-link:hover {
  opacity: 1;
}
